@import 'variables.css';


/*---------- Desktop ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: var(--colorBackground);
}

/*---------- Header ----------*/
header {
    display: flex;
    justify-content: center;
    padding-top: 10rem;

    h1 {
        font-family: var(--fontMain);
        margin-bottom: 2rem;
    }
}

/*---------- Form ----------*/
#frmMusic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;         
    margin-bottom: 2rem;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
        margin: 1rem
    }

    label {
        margin-top: 1.1rem;
        margin-right: 0.5rem;
        font-weight: 800;
    }

    input {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        text-align: center;
    }

    input[type=submit] {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        background-color: var(--colorPrimary);
        color: var(--colorTextTwo);
        border: none;
    }
}

/*---------- Table ----------*/
#table {
    width: 100%;

    table {
        width: 55%;
        table-layout: fixed; /* Evt brug table-layout: auto */
        margin: 0 auto;
    }

    th {
        background-color: var(--colorPrimary);
        color: var(--colorTextTwo);
        padding: 1rem;
        text-align: center;
    }

    td {
        border: solid thin var(--colorPrimary);
        padding: 1rem;
    }

    .Author, .Title, .Year {
        text-align: center;
    }

    .DeleteContainer {
        width: 4rem; 
        box-sizing: border-box;
        color: var(--colorTextOne);
    }

    button {
        padding: 0.5rem 0.7rem;
        border-radius: 1rem;
        background-color: var(--colorPrimary);
        color: var(--colorTextTwo);
        border: none;
    }
}

/*---------- Footer ----------*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    color: var(--colorTextTwo);
    background-color: var(--colorPrimary);
    text-align: center;
}


/* -------- Mobil -------- */
@media (max-width: 768px) {

    /*---------- Header ----------*/
    header {
        padding-top: 5rem;
    }

    /*---------- Form ----------*/
    #frmMusic {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        label {
            margin-bottom: 0.5rem;
        }

        input {
            width: 90%; 
        }

        input[type=submit] {
            width: 100%;
        }
    }

    /*---------- Table ----------*/
    #table table {
        width: 95%;

        button {
            width: 100%;
        }
    }
}
